.jumboHeading {
  background: url("IMG_6166.png") top center;
  background-size: cover;
  margin-bottom: 0em !important;
}
.jumboText {
  background: rgba(0, 0, 0, 0.7);
  padding-bottom: 1em;
}
.bigContainer {
  padding-top: 20em;
  padding-bottom: 20em;
}
.jumboProject {
  background: url("https://media.giphy.com/media/26tn33aiTi1jkl6H6/giphy.gif")
    top center;
  background-size: cover;
  padding-top: 0;
  padding-bottom: 5em;
  margin-bottom: 0;
  margin-top: 0;
}
mp {
  height: 100%;
}
bd {
  height: 100%;
  margin: 0;
  padding: 0;
}
